main {
    padding: 20px;
  }
  #about1{
    font-size: 70px;
    font-weight: 600;
    margin-left: -20px;
  }
  #aboutsection{
    display: flex;
  }
  #about-content{
    font-size: 30px;
    padding: 50px 70px;
    font-weight: 500;
    color: gray;
    margin: auto;
  }
  #right-image{
margin-top: 40px;
  }