main {
    padding: 20px;
  }
  
  .about {
    max-width: 800px;
    margin: 0 auto;
    height: 600px;
  }
  
  .about h2 {
    color: rgb(38, 221, 53);
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    display: inline-block;

  }
  .about p{
    color: gray;
    font-size: 18px;
  }
  